downloaded-artifacts
*/artifacts
.tmpfunc
*.log
_work
.flatpak-builder
component_version
components_version_list.md
squashfs-root

#just temporary until Alchemist is integrated here
automation-tools/Alchemist-temp 